@import url('https://rsms.me/inter/inter-ui.css');

:root {
    --TITLE_UNIT_BLOCK_PX: 50px;
    --TITLE_UNIT_KERN_PX:  calc(var(--TITLE_UNIT_BLOCK_PX) / 5);
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter UI', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title_cont {
    position: fixed;
    width:  calc(calc(var(--TITLE_UNIT_BLOCK_PX) * 15) + calc(var(--TITLE_UNIT_KERN_PX) * 3));
    height:      calc(var(--TITLE_UNIT_BLOCK_PX) * 6);
}

.title_unit {
    position: absolute;
    opacity: 1;
    transition: opacity 1.5s ease-in-out, top 1.5s ease-in-out, left 1.5s ease-in-out, background-color 0.7s linear;
}

.title_unit_hidden {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, top 1.5s ease-in-out, left 1.5s ease-in-out;
}

.title_unit_box {
    background-color: black;

    width:  var(--TITLE_UNIT_BLOCK_PX);
    height: var(--TITLE_UNIT_BLOCK_PX);
}

.title_unit_right_semicircle {
    border:      var(--TITLE_UNIT_BLOCK_PX) solid black;
    border-left: none;

    width:       var(--TITLE_UNIT_BLOCK_PX);
    height: calc(var(--TITLE_UNIT_BLOCK_PX) * 2);

    border-top-right-radius:    calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
    border-bottom-right-radius: calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
}

.title_unit_bottom_semicircle {
    border:     var(--TITLE_UNIT_BLOCK_PX) solid black;
    border-top: none;

    width:  calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
    height:      var(--TITLE_UNIT_BLOCK_PX);

    border-bottom-right-radius: calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
    border-bottom-left-radius:  calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
}

.title_unit_top_semicircle {
    border:     var(--TITLE_UNIT_BLOCK_PX) solid black;
    border-bottom: none;

    width:  calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
    height:      var(--TITLE_UNIT_BLOCK_PX);

    border-top-right-radius: calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
    border-top-left-radius:  calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
}

.title_unit_bottom_left_semicircle {
    border:     var(--TITLE_UNIT_BLOCK_PX) solid black;
    border-top: none;
    border-right: none;

    width:  var(--TITLE_UNIT_BLOCK_PX);
    height: var(--TITLE_UNIT_BLOCK_PX);

    border-bottom-left-radius:  calc(var(--TITLE_UNIT_BLOCK_PX) * 2);
}

.title_loading_bar {
    background-color: black;

    left: calc(calc(var(--TITLE_UNIT_BLOCK_PX) * 4) + var(--TITLE_UNIT_KERN_PX));
    top:  calc(var(--TITLE_UNIT_BLOCK_PX) * 3);

    width:  calc(calc(var(--TITLE_UNIT_BLOCK_PX) * 4) + var(--TITLE_UNIT_KERN_PX));
    height: var(--TITLE_UNIT_BLOCK_PX);
}
